html {
  font-family: "微软雅黑", "黑体", "Helvetica", "sans-serif";
  font-size: 16px;
}
body {
  background-color: #ece1c4;
}
button,
a,
input {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
.full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hidden {
  display: none;
}
.clearfix {
  overflow: auto;
  _height: 1%;
}
.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 1.2s, opacity 1.2s;
  -moz-transition: -moz-transform 1.2s, opacity 1.2s;
  -o-transition: -o-transform 1.2s, opacity 1.2s;
  transition: -webkit-transform 1.2s,-moz-transform 1.2s,-o-transform 1.2s,transform 1.2s, opacity 1.2s;
  top: -9%;
  overflow: hidden;
  background-color: #ece1c4;
}
.page.hidden {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
  display: block;
}
.scroller {
  height: 100%;
  white-space: nowrap;
  font-size: 0;
  width: 10000px;
  -webkit-backface-visibility: hidden;
}
.store {
  float: left;
  height: 100%;
  background-color: #ece1c4;
}
.store .wall {
  float: left;
  height: 92%;
}
.store .wall .wall-header {
  position: relative;
  height: 25%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: repeat-x left bottom;
  background-size: auto 100%;
}
.store .wall .wall-body {
  height: 75%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: repeat-x;
  background-size: auto 100%;
}
.store .wall .wall-gap {
  float: left;
  height: 100%;
}
.store .wall .wall-gap img {
  height: 100%;
}
.store .wall .wall-brand {
  height: 100%;
}
.store .wall .wall-brand img {
  height: 100%;
}
.store .wall .wall-logo {
  height: 100%;
}
.store .wall .wall-logo img {
  height: 100%;
}
.store .wall .wall-pattern {
  position: absolute;
  width: 100%;
  height: 10%;
  top: -12%;
  text-align: center;
}
.store .wall .wall-pattern img {
  height: 100%;
}
.store .pillar {
  float: left;
  height: 100%;
  position: relative;
}
.store .pillar img {
  position: relative;
  height: 103.5%;
  top: -0.5%;
}
.store .door {
  position: relative;
  height: 100%;
  float: left;
}
.store .door .door-header {
  position: absolute;
  top: -13.5%;
  left: -1%;
  width: 100%;
  height: 31%;
  text-align: center;
}
.store .door .door-body {
  position: relative;
  top: -1%;
  height: 104%;
}
.store .door .door-body .door-sign {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.store .door img {
  height: 100%;
}
.store .showcase {
  float: left;
  height: 100%;
  position: relative;
}
.store .showcase .showcase-start,
.store .showcase .showcase-middle,
.store .showcase .showcase-end,
.store .showcase .showcase-feature,
.store .showcase .showcase-gap,
.store .showcase .showcase-frame {
  float: left;
  height: 100%;
  position: relative;
}
.store .showcase .showcase-start img,
.store .showcase .showcase-middle img,
.store .showcase .showcase-end img,
.store .showcase .showcase-feature img,
.store .showcase .showcase-gap img,
.store .showcase .showcase-frame img {
  height: 100%;
}
.store .showcase .showcase-feature .wall-pattern {
  text-align: left;
}
.store .showcase .showcase-feature .wall-pattern img.img-brand {
  margin-left: 4%;
}
.store .showcase .showcase-feature .wall-pattern img.img-pattern {
  margin-left: 26%;
  margin-right: 30%;
}
.store .showcase .showcase-frame .wall-pattern {
  text-align: right;
}
.store .showcase .showcase-gap .wall-pattern img {
  margin-left: 115%;
}
.store .showcase .showcase-light {
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
}
.store .showcase .showcase-light .lighting {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
}
.store .showcase .showcase-light .lighting img {
  width: 80%;
}
.store .showcase .showcase-light img {
  width: 100%;
  height: auto;
}
.store .showcase .showcase-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 50%;
  z-index: 15;
}
.store .showcase .showcase-decoration img {
  width: auto;
  height: 100%;
}
.store .showcase img.img-element {
  position: absolute;
}
.store .showcase img.img-frame {
  position: relative;
  height: 100%;
  z-index: 10;
}
.store .showcase .showcase-product {
  position: absolute;
  top: 16%;
  left: 7%;
  right: 7%;
  bottom: 27%;
}
.store .showcase .showcase-product img {
  width: 100%;
  height: 100%;
}
.store .showcase .showcase-middle {
  background: repeat-x;
  background-size: 1px 100%;
}
.store .showcase .showcase-phonograph {
  position: absolute;
  height: 21.8%;
  bottom: 5%;
  left: -2%;
}
.store .showcase .showcase-music {
  position: absolute;
  height: 20%;
  bottom: 17%;
  left: 15%;
}
.store .showcase .showcase-intro {
  -webkit-transform: translate3d(0, -30%, 0);
  -moz-transform: translate3d(0, -30%, 0);
  -ms-transform: translate3d(0, -30%, 0);
  -o-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  -webkit-transition: -webkit-transform 800ms, opacity 800ms;
  -moz-transition: -moz-transform 800ms, opacity 800ms;
  -o-transition: -o-transform 800ms, opacity 800ms;
  transition: -webkit-transform 800ms,-moz-transform 800ms,-o-transform 800ms,transform 800ms, opacity 800ms;
  position: absolute;
  width: 50%;
  bottom: 23%;
  left: 10%;
  opacity: 0;
}
.store .showcase .showcase-intro img {
  width: 100%;
  height: auto;
}
.store .showcase .showcase-intro .showcase-intro-body {
  font-size: 0.8rem;
  white-space: normal;
  background-size: 100% auto;
  padding: 0 10px;
}
.store .showcase .showcase-intro.active {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}
.store .pointer {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  opacity: 0;
}
.store .pointer img {
  height: 100%;
}
.store .next {
  -webkit-animation: next 1.5s infinite;
  -moz-animation: next 1.5s infinite;
  -o-animation: next 1.5s infinite;
  animation: next 1.5s infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 50%;
  height: 7%;
  right: 0;
}
.store .next img {
  width: auto;
  height: 100%;
}
.store .door .pointer {
  bottom: 10%;
  -webkit-animation: point 1.5s infinite;
  -moz-animation: point 1.5s infinite;
  -o-animation: point 1.5s infinite;
  animation: point 1.5s infinite;
}
.store .showcase-frame:nth-child(2) .pointer {
  -webkit-animation: point 1.5s infinite;
  -moz-animation: point 1.5s infinite;
  -o-animation: point 1.5s infinite;
  animation: point 1.5s infinite;
}
.store.last .next {
  display: none;
}
.scene {
  position: relative;
  float: left;
  height: 92%;
}
.scene img {
  height: 100%;
}
.foreground {
  position: absolute;
  left: -50%;
  top: 5%;
  bottom: -12%;
  z-index: 80;
}
.foreground img {
  height: 100%;
}
.btn-again {
  position: absolute;
  top: 51%;
  right: 13%;
  width: 19.8%;
  height: 7.3%;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
}
.btn-home {
  position: absolute;
  top: 61%;
  right: 13%;
  width: 19.8%;
  height: 7.3%;
  border: none;
  background: no-repeat;
  background-size: 100% 100%;
}
.street {
  float: left;
  width: 100%;
  height: 8%;
  background: repeat-x;
  background-size: auto 100%;
}
.nav {
  position: absolute;
  bottom: 0;
  height: 80px;
}
.nav .nav-icon {
  position: absolute;
  width: 40px;
  margin: -1px 0 0 3px;
  z-index: 10;
}
.nav .nav-icon img {
  width: 100%;
  height: auto;
}
.nav .nav-axis {
  -webkit-transition: max-width 600ms;
  -moz-transition: max-width 600ms;
  -o-transition: max-width 600ms;
  transition: max-width 600ms;
  position: absolute;
  left: 3px;
  top: 50%;
  height: 1px;
  border: 1px solid #000;
  width: 100%;
  max-width: 38px;
  background-color: #ece1c4;
}
.nav .nav-body {
  -webkit-transform: translate3d(-150%, 0, 0);
  -moz-transform: translate3d(-150%, 0, 0);
  -ms-transform: translate3d(-150%, 0, 0);
  -o-transform: translate3d(-150%, 0, 0);
  transform: translate3d(-150%, 0, 0);
  -webkit-transition: -webkit-transform 600ms;
  -moz-transition: -moz-transform 600ms;
  -o-transition: -o-transform 600ms;
  transition: -webkit-transform 600ms,-moz-transform 600ms,-o-transform 600ms,transform 600ms;
  height: 100%;
  margin-left: 55px;
  white-space: nowrap;
}
.nav .nav-body .nav-item {
  height: 100%;
  position: relative;
  display: inline-block;
  width: 35px;
  overflow: visible;
}
.nav .nav-body .nav-item .nav-label {
  position: absolute;
  width: 100px;
  margin-left: -32px;
  text-align: center;
}
.nav .nav-body .nav-item .label {
  display: inline-block;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: helvetica, sans-serif;
  font-size: 0.6rem;
  line-height: 1rem;
  padding: 0 0.2rem;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0;
}
.nav .nav-body .nav-item:before {
  content: '';
  position: absolute;
  left: 50%;
  width: 1px;
  background: #000;
}
.nav .nav-body .nav-item:after {
  -webkit-transition: -webkit-transform 300ms;
  -moz-transition: -moz-transform 300ms;
  -o-transition: -o-transform 300ms;
  transition: -webkit-transform 300ms,-moz-transform 300ms,-o-transform 300ms,transform 300ms;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 5px;
  margin: -3px 0 0 -5px;
  border: 5px solid black;
}
.nav .nav-body .nav-item.active:after {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.nav .nav-body .nav-item:nth-child(1):before,
.nav .nav-body .nav-item:nth-child(5):before {
  bottom: 50%;
  top: 30%;
}
.nav .nav-body .nav-item:nth-child(1) .nav-label,
.nav .nav-body .nav-item:nth-child(5) .nav-label {
  top: 23%;
}
.nav .nav-body .nav-item:nth-child(2):before,
.nav .nav-body .nav-item:nth-child(6):before {
  bottom: 30%;
  top: 50%;
}
.nav .nav-body .nav-item:nth-child(2) .nav-label,
.nav .nav-body .nav-item:nth-child(6) .nav-label {
  bottom: 23%;
}
.nav .nav-body .nav-item:nth-child(3):before,
.nav .nav-body .nav-item:nth-child(7):before {
  bottom: 50%;
  top: 10%;
}
.nav .nav-body .nav-item:nth-child(3) .nav-label,
.nav .nav-body .nav-item:nth-child(7) .nav-label {
  top: 2%;
}
.nav .nav-body .nav-item:nth-child(4):before,
.nav .nav-body .nav-item:nth-child(8):before {
  bottom: 10%;
  top: 50%;
}
.nav .nav-body .nav-item:nth-child(4) .nav-label,
.nav .nav-body .nav-item:nth-child(8) .nav-label {
  bottom: 2%;
}
.nav.active .nav-axis {
  max-width: 320px;
}
.nav.active .nav-body {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.tilter {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.tilter .tilter-bg {
  height: 100%;
}
.crosshairs {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 300ms ease-in;
  -moz-transition: -moz-transform 300ms ease-in;
  -o-transition: -o-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in,-moz-transform 300ms ease-in,-o-transform 300ms ease-in,transform 300ms ease-in;
  position: absolute;
  left: 0;
  top: 0;
  height: 13.6%;
}
.crosshairs img {
  height: 100%;
}
.crosshairs.active img {
  -webkit-animation: beat 1.5s infinite;
  -moz-animation: beat 1.5s infinite;
  -o-animation: beat 1.5s infinite;
  animation: beat 1.5s infinite;
}
.labels .label {
  position: absolute;
  background-color: #f0eede;
  border: 1px solid #484848;
  border-radius: 2px;
  text-transform: uppercase;
  font-family: helvetica, sans-serif;
  font-size: 0.5rem;
  line-height: 0.9rem;
  padding: 0 0.2rem;
  vertical-align: middle;
}
.labels .label.active {
  background-color: #000;
  color: #fff;
}
#home {
  z-index: 300;
}
#home .loading {
  position: absolute;
  right: 0;
  bottom: 3%;
  left: 0;
  text-align: center;
  font-size: 0.9rem;
}
#home .loading .ellipsis {
  display: inline-block;
  margin-left: 5px;
  text-align: left;
  width: 20px;
}
#home .home-start {
  position: absolute;
  top: 36.4%;
  left: 15.6%;
  height: 55%;
  width: 72%;
}
#home .home-start img {
  width: 100%;
  height: 100%;
}
#intro {
  z-index: 200;
}
#stores {
  z-index: 100;
}
#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #ece1c4;
  z-index: 500;
}
#loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: auto;
  margin-left: -30px;
}
#templates {
  display: none;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes beat{ 0% { -webkit-transform: scale(1);opacity: 1;} 50% {-webkit-transform: scale(1.5);opacity: 0.5;} 100% {-webkit-transform: scale(1);opacity: 1;}}
@-moz-keyframes beat{ 0% { -moz-transform: scale(1);opacity: 1;} 50% {-moz-transform: scale(1.5);opacity: 0.5;} 100% {-moz-transform: scale(1);opacity: 1;}}
@-o-keyframes beat{ 0% { -o-transform: scale(1);opacity: 1;} 50% {-o-transform: scale(1.5);opacity: 0.5;} 100% {-o-transform: scale(1);opacity: 1;}}
@keyframes beat{ 0% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);opacity: 1;} 50% {-webkit-transform: scale(1.5);-moz-transform: scale(1.5);-ms-transform: scale(1.5);transform: scale(1.5);opacity: 0.5;} 100% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);opacity: 1;};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes point{ 0% { -webkit-transform: scale(1);opacity: 1;} 50% {-webkit-transform: scale(1.1);opacity: 0.5;} 100% {-webkit-transform: scale(1);opacity: 1;}}
@-moz-keyframes point{ 0% { -moz-transform: scale(1);opacity: 1;} 50% {-moz-transform: scale(1.1);opacity: 0.5;} 100% {-moz-transform: scale(1);opacity: 1;}}
@-o-keyframes point{ 0% { -o-transform: scale(1);opacity: 1;} 50% {-o-transform: scale(1.1);opacity: 0.5;} 100% {-o-transform: scale(1);opacity: 1;}}
@keyframes point{ 0% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);opacity: 1;} 50% {-webkit-transform: scale(1.1);-moz-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);opacity: 0.5;} 100% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);opacity: 1;};
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes next{ 0% { -webkit-transform: translate3d(-10px,0,0);opacity: 0;} 50% {-webkit-transform: translate3d(0,0,0);opacity: 1;} 100% {-webkit-transform: translate3d(10px,0,0);opacity: 0;}}
@-moz-keyframes next{ 0% { -moz-transform: translate3d(-10px,0,0);opacity: 0;} 50% {-moz-transform: translate3d(0,0,0);opacity: 1;} 100% {-moz-transform: translate3d(10px,0,0);opacity: 0;}}
@-o-keyframes next{ 0% { -o-transform: translate3d(-10px,0,0);opacity: 0;} 50% {-o-transform: translate3d(0,0,0);opacity: 1;} 100% {-o-transform: translate3d(10px,0,0);opacity: 0;}}
@keyframes next{ 0% {-webkit-transform: translate3d(-10px,0,0);-moz-transform: translate3d(-10px,0,0);-ms-transform: translate3d(-10px,0,0);transform: translate3d(-10px,0,0);opacity: 0;} 50% {-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);-ms-transform: translate3d(0,0,0);transform: translate3d(0,0,0);opacity: 1;} 100% {-webkit-transform: translate3d(10px,0,0);-moz-transform: translate3d(10px,0,0);-ms-transform: translate3d(10px,0,0);transform: translate3d(10px,0,0);opacity: 0;};
}
